---
---

@import "{{ site.theme }}";

.page-header {
    padding: 1rem 6rem;
    color: #bf1e2e;
    background-color: black;
    background-image: none;
}

.page-header-image {
    height: 60px;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {    
    color: #bf1e2e;
}
